@import "tailwindcss";
@import "tw-animate-css";
/* @tailwind base; */
/* @custom-variant dark (&:is(.dark *)); */

:root {
  --background: #faf8f2;
  --foreground: #1a1a1a;
  --card: #ffffff;
  --card-foreground: #1a1a1a;
  --popover: #ffffff;
  --popover-foreground: #1a1a1a;
  --primary: #007a4d;
  --primary-foreground: #ffffff;
  --primary-emerald: #015f3c;
  --secondary: #6cb52d;
  --secondary-foreground: #ffffff;
  --accent: #f3be19;
  --accent-foreground: #1a1a1a;
  --accent-earth: #755b39;
  --neutral-dark: #0b1913;
  --primary-deep: #004a2e;
  --primary-deepest: #003823;
  --muted: #eae8e0;
  --muted-foreground: #5e5d57;
  --border: #e5e2d8;
  --input: #ffffff;
  --ring: #007a4d;
  --radius: 0.75rem;
}

.dark {
  --background: #0b1913;
  --foreground: #faf8f2;
  --card: #12241c;
  --card-foreground: #faf8f2;
  --popover: #12241c;
  --popover-foreground: #faf8f2;
  --primary: #009960;
  --primary-foreground: #0b1913;
  --primary-emerald: #01784c;
  --primary-deep: #003a24;
  --primary-deepest: #002819;
  --neutral-dark: #0b1913;
  --secondary: #7cc83d;
  --secondary-foreground: #0b1913;
  --accent: #f4c42d;
  --accent-foreground: #0b1913;
  --accent-earth: #8c7049;
  --muted: #1a2f25;
  --muted-foreground: #a1a8a4;
  --border: #223b2f;
  --input: #12241c;
  --ring: #009960;
}

@theme inline {
  --font-sans: var(--font-sans), sans-serif;
  --font-serif: var(--font-serif), serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-emerald: var(--primary-emerald);
  --color-primary-deep: var(--primary-deep);
  --color-primary-deepest: var(--primary-deepest);
  --color-neutral-dark: var(--neutral-dark);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent-earth: var(--accent-earth);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

* {
  @apply border-border outline-ring/50;
}
body {
  @apply bg-background text-foreground;
}

.red {
  border: 1px dotted red;
}
