@import "tailwindcss";
@import "tw-animate-css";
/* @tailwind base; */
/* @custom-variant dark (&:is(.dark *)); */

:root {
  --background: #FAF8F2;
  --foreground: #1A1A1A;
  --card: #FFFFFF;
  --card-foreground: #1A1A1A;
  --popover: #FFFFFF;
  --popover-foreground: #1A1A1A;
  --primary: #007A4D;
  --primary-foreground: #FFFFFF;
  --primary-emerald: #015F3C;
  --secondary: #6CB52D;
  --secondary-foreground: #FFFFFF;
  --accent: #F3BE19;
  --accent-foreground: #1A1A1A;
  --accent-earth: #755B39;
  --neutral-dark: #0B1913;
  --primary-deep: #004A2E;
  --primary-deepest: #003823;
  --muted: #EAE8E0;
  --muted-foreground: #5E5D57;
  --border: #E5E2D8;
  --input: #FFFFFF;
  --ring: #007A4D;
  --radius: 0.75rem;
}

.dark {
  --background: #0B1913;
  --foreground: #FAF8F2;
  --card: #12241C;
  --card-foreground: #FAF8F2;
  --popover: #12241C;
  --popover-foreground: #FAF8F2;
  --primary: #009960;
  --primary-foreground: #0B1913;
  --primary-emerald: #01784C;
  --primary-deep: #003A24;
  --primary-deepest: #002819;
  --neutral-dark: #0B1913;
  --secondary: #7CC83D;
  --secondary-foreground: #0B1913;
  --accent: #F4C42D;
  --accent-foreground: #0B1913;
  --accent-earth: #8C7049;
  --muted: #1A2F25;
  --muted-foreground: #A1A8A4;
  --border: #223B2F;
  --input: #12241C;
  --ring: #009960;
}

@theme inline {
  --font-sans: var(--font-sans), sans-serif;
  --font-serif: var(--font-serif), serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-emerald: var(--primary-emerald);
  --color-primary-deep: var(--primary-deep);
  --color-primary-deepest: var(--primary-deepest);
  --color-neutral-dark: var(--neutral-dark);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent-earth: var(--accent-earth);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

* {
  @apply border-border outline-ring/50;
}
body {
  @apply bg-background text-foreground;
}